<div class="container__big-card">
    <!-- mokado -->
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/
        images?q=tbn:ANd9GcRTDkxl_rWGD_A7QopIr5jdb5THPnO01C-bhA&usqp=CAU"
         alt="image not-found"
         heigth= "100px"
         width="600px"
         srcset=""
         
         >
    </div>



    <div class="big-card__title">
        <h1><a href="">O monstro está à solta!!!!!!!</a></h1>
    </div>

    <div class="big-card__description">
        <p>Corra enquanto pode.</p>
    </div>

</div>