<div class="container__small-card">
    <div class="container__small-card-content">
        
        <div class="small-card__photo">
            <img src="https://i.pinimg.com/originals/c7/50/88/c750884bdd0579ba11d4cfe68c89366a.jpg"
            alt=""
            srcset=""
            >
        </div>

        <div class="small-card__title">
        
           <h1><a href="">O monstro está à solta!!!!!!!</a></h1>
        </div>
    </div>


    <div class="container__small-card__separador">
        <hr>
    </div>
</div>