*{
    margin: 0;
    padding: 0; 
    /* tamanho da caixa */
    box-sizing: border-box;
    border-color: white;   
    background-color: #111111;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}